<?xml version="1.0" encoding="UTF-8"?>
<Configuration
	xmlns="http://logging.apache.org/log4j/2.0/config">

	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} %5p [%c{1.}] %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="org.springframework" level="debug" />
		<!-- 
			com.sample 패키지 및 그 하위 패키지의 로그출력 레벨을 info로 설정한다.
		 -->
		<Logger name="com.sample" level="info" />
		<!-- 
			mybatis가 실행하는 SQL 구문 정보 및 실행되는 쿼리문, 파라미터값, 조회결과를 로그로 출력하기 위해서
			mapper 인터페이스가 정의된 패키지를 지정하고 로그레벨을 trace로 지정한다.
		 -->
		<Logger name="com.sample.dao" level="trace" />
		
		<Root level="error">
			<AppenderRef ref="stdout" />
		</Root>
	</Loggers>

</Configuration>